@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
 
<div ng-app="badApp" ng-style="{background:'yellow'}">
    <div ng-controller="badController">
        <h2>{{CauseStatement}}</h2>
        This is Example for hack-proof-your-javascript code in Angualar.
        <h3>{{TemporrayFix}}</h3>
    </div>
</div>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script src="~/Scripts/scriptBadCode.js"></script>